@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@font-face {
	font-family: "Aqua";
	src: url("../../fontes/aqua.ttf");
}

@font-face{
	font-family: 'Shkoder';
	src: url('../../fontes/Shkoder_1989_Black.otf');
}


*{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body{
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	height: 10vh;
	/*border: 1px solid red;*/
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*margin-bottom: 5%;*/
	background: #171127;
}

.m1{
	/*border: 1px solid blue;*/
	position: absolute;
	/*width: 25%;*/
	right: 5%;
	display: none;
}
.m2{
	/*border: 1px solid green;*/
	position: absolute;
	left: 5%;
	/*top: 50%;*/
	display: none;
}

.logo{
	height: 60%;
	cursor: pointer;
}
ul{
	display: flex;
	flex-direction: row;
}
.m1 li{
	margin-right: 100px;
}
.m2 li{
	margin-left: 100px;
}
a{
	font-family: "Aqua";
	text-decoration: none;
	color: #78c29c;
	font-size: 17pt;
}
a:hover{
	color: #95D5B4;
}

.animacao{
	display: flex;
	align-items: center;
	flex-direction: column;

	/*border: 1px solid red;*/
}

h1{
	margin-right: 15px;
	text-align: center;
	position: absolute;
}
.opcoes{
	/*width: 100%;*/
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	height: 55px;
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow-y: hidden;
}
.op1{
	font-size: 13pt;
	/*left: 20%;*/
	font-family: "Shkoder";
	color: #78c29c;
	cursor: pointer;
}
.op2{
	font-size: 10pt;
	/*right: 20%;*/
	font-family: "Shkoder";
	color: #171127;
	cursor: pointer;
}
.op1:hover{
	opacity: 0.9;
}
.op2:hover{
	opacity: 0.9;
}

.opcao1{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*border: 1px solid blue;*/
}
.opcao2{
	/*height: auto;*/
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*overflow-y: hidden; */
}


.op_animacoes{
	position: absolute;
	height: 5%;
	width: 15%;
	bottom:2%;
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: row;
	align-items: center;
	/*justify-content: center;*/
}
.op_anima{
	width: 25%;
	height: 75%;
	/*border: 1px solid blue;*/
	background: #95a5a6;
	border-radius: 50%;
	margin-left: 5px;
}

.op_anima_1{
	background: #636e72;
}

.i1{
	/*left: 28%;
	top: 40px;*/
	margin-top: 45px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #78c29c;
}
.i2{
	border-radius: 0;
	background: #171127;
	/*right: 20%;
	top: 40px;*/
	margin-top: 45px;
	height: 3px;
	width: 70%;
}

.titulo{
	text-align: center;
}
.completo{
	display: none;

}
.completo_partes{
	display: flex;
	align-items:center;
	flex-direction: column;
}
.imagem{
	width: 85%;
	height: 85%;
	margin-top: 5%;
	margin-bottom: 10%;
}
.principal{
	width: 300px;
	height: 300px;
	overflow-x: visible;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/*border: 1px solid green;*/
}
.isolado{
	width: 300px;
	height: 300px;
	top: 0;
	position: absolute;
	opacity: 0;
	left: 5%;
	display: none;
	align-items: center;
	justify-content: center;
	/*left:0px;*/
	/*border: 1px solid red;*/
}
.l1{
	/*background: green;*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.glicose{
	/*background: green;*/
	width: 100%;
}
.reacao_1{
	position: absolute;
	opacity: 0;
	width: 10%;
	height: 10%;
}
.adp{
	/*background: red;*/
	right:0;
	top:0;
}
.nad{
	/*background: yellow;*/
	left:0;
	top:0;	
}
.nadh{
	/*background: blue;*/
	right:25%;
	top:50%;
}
.atp{
	/*background: green;*/
	left:25%;
	top:50%;
}
.piruvatos{
	width: 70%;
	opacity: 0;
	position: absolute;
}

.l2{
	opacity: 0;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	justify-content: center;
}
.ciclo{
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
}
.nad_1_ciclo{
	opacity: 0;
}
.coA_1{
	opacity: 0;
}
.nadh_1_ciclo{
	opacity: 0;
}
.co2_1{
	opacity: 0;
}
.acetiL_coA{
	opacity: 0;
}
.acido_oxaloacetico_1{
	opacity: 0;
}
.citrato_1{
	opacity: 0;
}
.h2o_1{
	opacity: 0;
}
.coA_2{
	opacity: 0;	
}

.h2o_2{
	opacity: 0;
}
.h2o_3{
	opacity: 0;
}
.isocitrato_1{
	opacity: 0;
}

.nad_2{
	opacity: 0;
}
.nadh_2{
	opacity: 0;
}
.alfacetoglurato_1{
	opacity: 0;
}
.co2_2{
	opacity: 0;
}
.co2_3{
	opacity: 0;
}
.siccinio_1{
	opacity: 0;
}
.nad_3{
	opacity: 0;
}
.nadh_3{
	opacity: 0;
}
.coA_3{
	opacity: 0;
}
.succinato{
	opacity: 0;
}
.adp_1{
	opacity: 0;
}
.atp_1{
	opacity: 0;
}
.fosfato{
	opacity: 0;
}
.fad_1{
	opacity: 0;
}
.fadh2_1{
	opacity: 0;
}
.fumarico{
	opacity: 0;
}
.h2o_4{
	opacity: 0;
}
.malico{
	opacity: 0;
}
.acido_oxaloacetico_2{
	opacity: 0;
}
.nad_4{
	opacity: 0;
}
.nadh_4{
	opacity: 0;
}
.l3{
	/*background: yellow;*/
	opacity: 0;
}
.fosoliracao{
	width: 100%;
	height: 100%;
	/*border: 1px solid red;*/
	overflow-y: hidden;
}
.nad_fosfo{
	opacity: 0;
}
.atp_fosfo{
	opacity: 0;
}
.h_fosfo{
	opacity: 0;
}

.glicolise{
	width: 300px;
	height: 300px;
	overflow-y: hidden;

	/*border: 1px solid green;*/
	/*background-image: url(../../../imgs/celulas-04.png);
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;*/
}

.hamburguer{
	display: none;
	/*width: 65px;*/
	/*height: 65px;*/
	position: absolute;
	/*border: 1px solid red;*/
	right: 5%;
	top: 20%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 3;
}

.element{
	height: 3px;
	width: 27px;
	background: #78c29c;
	margin: 2px;
	/*z-index: -2;*/
}
.menu{
	height: 100%;
	position: absolute;
	/*border: 1px solid red;*/
	background: #0D0811;
	z-index: 2;
	top: 0;
	width: 60%;
	display: none;
	justify-content: center;
	right: -70%;
}
.menu_lateral a{
	color: white;
	font-size: 14pt;
	font-family: 'Roboto';
}
.menu_lateral li{
	overflow-y: hidden;
	padding-bottom: 15px;
	list-style: none;
}
.menu_lateral{
	margin-top: 30px;
	display: block;
}
.texto{
	margin-bottom: 10px;
	height: 175px;
	/*border: 1px solid black;*/
	width: 300px;
	overflow-y: auto;
	overflow-x: visible;
	/*border-right: 1px solid red;*/
}
 .texto_explicativo{
 	margin-left: 5%;
 	margin-right: 5%;
 	font-size: 13pt;
 	text-align: justify;
 }
.desc{
	width: 300px;
	/*height: 175px;*/
}
p{
	text-align: justify;
	padding: 10px;

}
.botao{
	margin-left: 15px;
	margin-right: 15px;
}
.botoes{
	/*border: 1px solid red;*/
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.sec{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*border: 1px solid blue;*/
}
.avan{
	background-image: url(../../imgs/avan_symbol.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.voltar{
	background-image: url(../../imgs/retro_symbol.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.reduzir{
	background-image: url(../../imgs/aument_symbol.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
.aumentar{
	background-image: url(../../imgs/reduz_symbol.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.vel{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*border: 1px solid green;*/
}

.pausa_avancar{
	width: 35px;
	height: 35px;
	/*border-radius: 50%;*/
	/*border: 1px solid orange;*/
}
@media only screen and (max-width: 400px){
	.op1{
		font-size: 14pt;
	}
	.op2{
		font-size: 12pt;
	}
	.hamburguer{
		display: flex;
	}
}
@media only screen and (min-width: 400px){
	.op1{
		font-size: 14pt;
	}
	.op2{
		font-size: 13pt;
	}
	.hamburguer{
		display: flex;
	}
}

@media only screen and(max-width: 600px){
	.m1{
		display: none;
	}
	.m2{
		display: none;
	}
	.hamburguer{
		display: flex;
	}
}


@media only screen and (min-width: 600px){
	.hamburguer{
		display: none;
	}

	header{
		width: 100%;
		height: 10vh;
		/*border: 1px solid red;*/
		position: relative;
		display: flex;
		align-items: center;
	}
	.op1{
		font-size: 22pt;
	}
	.op2{
		font-size: 22pt;
	}
	 .texto_explicativo{
	 	margin-left: 15%;
	 	margin-right: 15%;
	 	/*color: red;*/
	 }
	 .completo_partes{
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	/*justify-content: center;
	 	border: 1px solid blue;*/
	 }
	 .imagem{
	 	width: 40%;
	 	height: 40%;
	 	margin-top: 10%;
	 	margin-bottom: 15%;
	 	/*border: 1px solid red;*/
	 }
	.principal{
		width: 400px;
		height: 400px;
	}
	.isolado{
		width: 400px;
		height: 400px;
	}
	.glicolise{
		width: 400px;
		height: 400px;
	}

	.texto{
		width: 400px;
		height: 275px;
	}
	.desc{
		width: 400px;
		/*height: 275px;*/
	}
	.botoes{
		width: 400px;
	}
	.botao{
		margin-right: 25px; 
		margin-left: 25px;	
	}
	.vel{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		/*border: 1px solid green;*/
	}
	.sec{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		/*border: 1px solid blue;*/
	}
	.pausa_avancar{
		width: 40px;
		height: 40px;
		/*border-radius: 50%;*/
		/*border: 1px solid orange;*/
	}
	h1{
		font-size: 30pt;
	}
	.m1{
		/*border: 1px solid blue;*/
		position: absolute;
		/*width: 25%;*/
		right: 5%;
		display: flex;
	}
	.m2{
		/*border: 1px solid green;*/
		position: absolute;
		left: 5%;
		/*top: 50%;*/
		display: flex;
	}
	.m1 li{
		margin-right: 25px;
	}
	.m2 li{
		margin-left: 25px;
	}
}

@media only screen and (min-width: 1000px){
	.hamburguer{
		display: none;
	}
	.op1{
		font-size: 25pt;
	}
	.op2{
		font-size: 25pt;
	}
	.glicolise{
		width: 600px;
		height: 600px;
	}
	.principal{
		width: 600px;
		height: 600px;
	}
	.isolado{
		width: 600px;
		height: 600px;
	}
	.texto{
		width: 600px;
		height: 450px;
	}
	 .texto_explicativo{
	 	margin-left: 20%;
	 	margin-right: 20%;
	 	font-size: 15pt;
	 }
	 .completo_partes{
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	/*border: 1px solid blue;
	 	justify-content: center;*/
	 }
	.imagem{
	 	width: 40%;
	 	height: 40%;
	 	margin-top: 10%;
	 	margin-bottom: 15%;
	 }
	.desc{
		width: 600px;
		/*height: 450px;*/
	}
	.botoes{
		width: 600px;
	}
	.botao{
		margin-right: 50px; 
		/*margin-left: 5px;	*/
	}
	.vel{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/*border: 1px solid green;*/
	}
	.sec{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/*border: 1px solid blue;*/
	}
	.pausa_avancar{
		width: 55px;
		height: 55px;
		/*border-radius: 50%;*/
		/*border: 1px solid orange;*/
	}
	p{
		font-size: 18pt;
	}
	h1{
		font-size: 35pt;
	}
	.m1{
		/*border: 1px solid blue;*/
		position: absolute;
		/*width: 25%;*/
		right: 5%;
		display: flex;
	}
	.m2{
		/*border: 1px solid green;*/
		position: absolute;
		left: 5%;
		/*top: 50%;*/
		display: flex;
	}
	.m1 li{
		margin-right: 50px;
	}
	.m2 li{
		margin-left: 50px;
	}
	
}

@media only screen and (min-width: 1100px){
	header{
		height: 15vh;
	}
	.m1{
		/*border: 1px solid blue;*/
		position: absolute;
		/*width: 25%;*/
		right: 5%;
		display: flex;
	}
	.m2{
		/*border: 1px solid green;*/
		position: absolute;
		left: 5%;
		/*top: 50%;*/
		display: flex;
	}
	.op1{
		font-size: 30pt;
	}
	.op2{
		font-size: 30pt;
	}
	.completo_partes{
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	 	
	 }
	.principal{
		width: 600px;
		height: 600px;
		position: relative;
		margin-right: 25px;
		/*border: 1px solid green;*/
	}
	.imagem{
	 	width: 25%;
	 	margin-top: 5%;
	 	margin-bottom: 10%;
	}
	.isolado{
		width: 600px;
		height: 600px;
		top: 0;
		position: absolute;
		opacity: 0;
		/*border: 1px solid red;*/
	}
	.glicolise{
		width: 600px;
		height: 600px;
		margin-right: 25px;
	}
	 .texto_explicativo{
	 	margin-left: 25%;
	 	margin-right: 25%;
	 	font-size: 15pt;
	 }
	.texto{
		width: 600px;
		height: 450px;
		/*border: 1px solid red;*/
	}
	.desc{
		width: 600px;
		margin-right: 25px;
		/*height: 450px;*/
	}
	.botoes{
		width: 600px;
	}
	.botao{
		/*margin-right: 50px; */
		/*margin-left: 5px;	*/
	}
	.vel{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/*border: 1px solid green;*/
	}
	.sec{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		/*border: 1px solid blue;*/
	}
	.pausa_avancar{
		width: 55px;
		height: 55px;
		/*border-radius: 50%;*/
		/*border: 1px solid orange;*/
	}
	p{
		font-size: 18pt;
	}
	h1{
		font-size: 35pt;
		text-align: center;
		margin-bottom: 50px;
	}
	.animacao{
		flex-direction: row;
		align-items: center;
		justify-content: center; 
		margin-bottom: 100px;
	}

}
