<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/home/style.css">
	<link rel="shotcut icon" href="./imgs/icone.png">
</head>
<body>
	<header>
		<img class="logo" src="./imgs/logo-03.png">

		<div class="sec1">
			<div class="apr">
				<h1 class="welcome_1">Eukaria</h1>
				<h2 class="welcome_2">um website</h2>
				<h3 class="welcome_3">sobre Biologia Celular</h3>
			</div>
		</div>
		<div class="sec2"></div>

	</header>
	<main>
		<section class='apresentacao'>
			<h2 class='titulo'>Bem vindo</h2>
			<p class="texto">A biologia celular (também chamada de Citologia) é o estudo das células eucariontes, suas estruturas e funções. Mas o que são células? E o que é ser eucarionte? Pois bem, células são a menor unidade de vida que existem. São os menores seres vivos, e todos os outros seres são formados por elas. Foram descobertas entre 1663 e 1665, pelo inglês Robert Hooke, que examinou uma fatia de cortiça utilizando uma invenção extremamente recente na época: um microscópio.</p>

			<p class="texto">
			As células podem ser eucariontes ou procariontes. Células procariontes são as mais simples de todas, não possuindo um envelope núclear, ou seja, o seu dna não fica separado do citoplasma, mas sim solto. Essas são as células das bactérias e archeas. Ja as células eucariontes formam as células de todos os pluricelules, e estas sim possuem um núclo envelopado - também chamado de Carioteca. A palavra eucarionte foi o que originou o nome deste site - Eukaria.</p>

			<p class="texto">Nesse site você poderá aprender sobre as células eucariontes, mais especificamente sobre sua estrutura e suas funções, como elas funcionam e onde elas estão, através do uso de animações, pois acreditamos que isso permite ao estudante um maior entendimento sobre o conteúdo estudado.</p>

		</section>

		<section class="imagens">
			<!-- <div class='im m1'></div>
			<div class='im m2'></div> -->
		</section>

		<section class="conteudo">
			<p class="texto"> Vale ressaltar que, como a imagem acima demonstra, as células não são todas iguais. Na verdade, elas são extremamente variadas, tanto em sua forma e estruturas quanto em sua função. Esperamos que, através deste site, você venha a aprender e ter curiosidade de pesquisar mais e mais sobre as células. Caso tenha alguma dúvida ou sujestão de melhora, deixe-a no formulário abaixo.</p>

		</section>

		<section class="opcoes">
			<h2 class='titulo'>Animações</h2>
			<div class="cells c1">
				<a href="/celula_animal"><div class='cell animal'></div></a>
				<a href="/celula_vegetal"><div class='cell vegetal'></div></a>
				<a href="/mitose"><div class='cell mitose'></div></a>
			</div>
			<div class="cells c2">
				<a href="/meiose"><div class='cell meiose'></div></a>
				<a href="/respiracao_celular"><div class='cell respiracao'></div></a>
			</div>
		</section>

		<section class="sugestao">
			<h1 class="titulo">Fale conosco</h1>
			<p class="texto">Nesse formulário, você pode enviar-nos sugestões de melhora, críticas, dicas, ou simplesmente elogios.</p>

			<form action="/home/adicionar_sugestao" method="post">
				<input class="formularios inps" placeholder="Nome" type="text" name="user_name">
				<input class="formularios inps" placeholder="E-mail" type="email" name="user_email">
				<textarea class="formularios tex_area" placeholder="Sugestão" name="sugestao_texto"></textarea>
				<button type="submit">Enviar</button>
			</form>
		</section>

	</main>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js" integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY=" crossorigin="anonymous"></script> -->
	<script src="./animejs/lib/anime.min.js"></script>
	<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src='./js/home/main.js'></script>
</body>
</html>