<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/home/style.css">
	<link rel="shotcut icon" href="./imgs/icone.png">
</head>
<body>
	<header>
		<img class="logo" src="./imgs/logo2.jpg">
		<!-- <div class='symbol'>
			<object class='hamburguer'>
				<object class="element top"></object>
				<object class="element mid"></object>
				<object class="element bottom"></object>
			</object>
		</div> -->

		<div class="sec1">
			<div class="apr">
				<h1 class="welcome_1">Eukaria</h1>
				<h2 class="welcome_2">um website</h2>
				<h3 class="welcome_3">sobre Biologia Celular</h3>
			</div>
		</div>
		<div class="sec2"></div>

	</header>
	<main>
		<section class='apresentacao'>
			<h2 class='titulo'>Bem vindo</h2>
			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Nibh cras pulvinar mattis nunc sed blandit libero. Fringilla urna porttitor rhoncus dolor. Lorem ipsum dolor sit amet consectetur. Erat velit scelerisque in dictum non consectetur a erat nam. Aenean vel elit scelerisque mauris pellentesque pulvinar. Felis eget velit aliquet sagittis id. Sed id semper risus in hendrerit. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>

			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Nibh cras pulvinar mattis nunc sed blandit libero. Fringilla urna porttitor rhoncus dolor. Lorem ipsum dolor sit amet consectetur. Erat velit scelerisque in dictum non consectetur a erat nam. Aenean vel elit scelerisque mauris pellentesque pulvinar. Felis eget velit aliquet sagittis id. Sed id semper risus in hendrerit. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>

			<p class="texto">Ac tortor vitae purus faucibus ornare suspendisse sed. Pretium aenean pharetra magna ac placerat. Egestas erat imperdiet sed euismod nisi porta lorem. Quam elementum pulvinar etiam non quam lacus. Mi proin sed libero enim sed faucibus turpis. Lacinia at quis risus sed vulputate odio. Nisl rhoncus mattis rhoncus urna neque viverra justo nec. Semper feugiat nibh sed pulvinar. Cursus vitae congue mauris rhoncus. Suspendisse sed nisi lacus sed. Sit amet mattis vulputate enim nulla aliquet.</p>

		</section>

		<section class="imagens">
			<!-- <div class='im m1'></div>
			<div class='im m2'></div> -->
		</section>

		<section class="conteudo">
			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec. Nibh cras pulvinar mattis nunc sed blandit libero. Fringilla urna porttitor rhoncus dolor. Lorem ipsum dolor sit amet consectetur. Erat velit scelerisque in dictum non consectetur a erat nam. Aenean vel elit scelerisque mauris pellentesque pulvinar. Felis eget velit aliquet sagittis id. Sed id semper risus in hendrerit. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel.</p>

			<p class="texto">Molestie at elementum eu facilisis sed odio morbi. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Fermentum leo vel orci porta non pulvinar neque laoreet. Et ultrices neque ornare aenean. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Vitae proin sagittis nisl rhoncus. Iaculis at erat pellentesque adipiscing commodo. Luctus accumsan tortor posuere ac ut consequat semper viverra. Volutpat maecenas volutpat blandit aliquam etiam. Ultricies leo integer malesuada nunc vel.</p>

			<p class="texto">Molestie at elementum eu facilisis sed odio morbi. Tincidunt augue interdum velit euismod in pellentesque massa placerat. Fermentum leo vel orci porta non pulvinar neque laoreet. Et ultrices neque ornare aenean. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Vitae proin sagittis nisl rhoncus. Iaculis at erat pellentesque adipiscing commodo. Luctus accumsan tortor posuere ac ut consequat semper viverra. Volutpat maecenas volutpat blandit aliquam etiam. Ultricies leo integer malesuada nunc vel.</p>


		</section>

		<section class="opcoes">
			<div class="cells c1">
				<a href="/celula_animal"><div class='cell animal'></div></a>
				<a href="/celula_vegetal"><div class='cell vegetal'></div></a>
				<a href="/mitose"><div class='cell mitose'></div></a>
			</div>
			<div class="cells c2">
				<div class='cell meiose'></div>
				<div class='cell respiracao'></div>
			</div>
		</section>

	</main>

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js" integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY=" crossorigin="anonymous"></script> -->
	<script src="./animejs/lib/anime.min.js"></script>
	<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src='./js/home/main.js'></script>
</body>
</html>