<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/exercicios/style.css">
	<link rel="shotcut icon" href="./imgs/icone.png">
</head>
<body>

	<header>
		
		<div class='hamburguer'>
			<object class="element top"></object>
			<object class="element mid"></object>
			<object class="element bottom"></object>
	  	</div>
		<ul class="m1">
			<li><a href="/exercicios">Exercicios</a></li>
			<li><a href="/home">Sobre</a></li>
		</ul>
		<ul class="m2">
			<li><a href="/home">Pagina Inicial</a></li>
			<li><a href="/home">Conteudo</a></li>
		</ul>
		<img onclick="window.location.href='/';" class='logo' src="./imgs/logo-03.png">
	</header>

	<h1 class="titulo">Exercicios</h1>
 
 	<div class="exercicio">
		<p class="texto">1 - As células eucariontes podem ser classificadas em dois grupos principais: células animais e células vegetais. Essas últimas apresentam algumas estruturas exclusivas, tais como os cloroplastos, que são responsáveis pelo processo de fotossíntese. Analise as alternativas a seguir e marque a única estrutura que não pode ser utilizada para diferenciar uma célula vegetal da animal. </p>
		<p class="texto">(disponivel em [https://exercicios.brasilescola.uol.com.br/exercicios-biologia/exercicios-sobre-celula-vegetal.htm])</p>

		<p class="texto">a) cromoplastos.</p>
		<p class="texto">b) leucoplastos.</p>
		<p class="texto">c) vacúolo de suco celular.</p>
		<p class="texto">d) mitocôndria.</p>
		<p class="texto">e) parede celular.</p>
	</div>

	<div class="exercicio">
		<p class="texto">2 - Vacúolos são estruturas existentes em diferentes tipos celulares, entretanto, o vacúolo de suco celular é uma estrutura típica da célula vegetal. Observe as funções abaixo e marque aquela que não pode ser atribuída ao vacúolo. </p>
		<p class="texto">(disponivel em [https://exercicios.brasilescola.uol.com.br/exercicios-biologia/exercicios-sobre-celula-vegetal.htm])</p>

		<p class="texto">a) Atua no armazenamento de substâncias.</p>
		<p class="texto">b) Participa do processo de respiração celular.</p>
		<p class="texto">c) Realiza a digestão de componentes celulares.</p>
		<p class="texto">d) Promove o controle osmótico.</p>
		<p class="texto">e) Ajuda na manutenção do pH.</p>
	</div>

	<div class="exercicio">
		<p class="texto">3 - Encontrada principalmente em sementes oleaginosas, essa organela converte lipídios em açúcares. Marque a alternativa que indica corretamente o nome da organela a que a afirmação se refere.</p> 
		<p class="texto">(disponivel em [https://exercicios.brasilescola.uol.com.br/exercicios-biologia/exercicios-sobre-celula-vegetal.htm])</p>

		<p class="texto">a) vacúolo.</p>
		<p class="texto">b) peroxissomo.</p>
		<p class="texto">c) plastídio.</p>
		<p class="texto">d) glioxissomo.</p>
		<p class="texto">e) lisossomo.</p>
	</div>
	<script src="./animejs/lib/anime.min.js"></script>
	<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>

	<!-- <script type="text/javascript" src='./js/exercicios/main.js'></script> -->
</body>
</html>