@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@font-face {
	font-family: "Aqua";
	src: url("../../fontes/aqua.ttf");
}

*{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body{
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	height: 10vh;
	/*border: 1px solid red;*/
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*margin-bottom: 5%;*/
	background: #171127;
}

.m1{
	/*border: 1px solid blue;*/
	position: absolute;
	/*width: 25%;*/
	right: 5%;
	display: none;
}
.m2{
	/*border: 1px solid green;*/
	position: absolute;
	left: 5%;
	/*top: 50%;*/
	display: none;
}

.logo{
	height: 60%;
	cursor: pointer;
}
ul{
	display: flex;
	flex-direction: row;
}
.m1 li{
	margin-right: 100px;
}
.m2 li{
	margin-left: 100px;
}
a{
	font-family: "Aqua";
	text-decoration: none;
	color: #78c29c;
	font-size: 17pt;
}
a:hover{
	color: #95D5B4;
}

.titulo{
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 22pt;
	color: #78c29c;
	font-family: "Aqua";
}

.texto{
	text-align: justify;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 15pt;
}

.exercicio{
	margin-bottom: 50px;
}
@media only screen and (max-width: 650px){
	.hamburguer{
		display: flex;
	}
	.m1{
		display: none;
	}
	.m2{
		display: none;
	}
}
@media only screen and (min-width: 651px){
	.hamburguer{
		display: none;
	}
	.m1{
		display: flex;
		right: 0;
	}
	.m2{
		display: flex;
		left: -1%;
	}
}
@media only screen and (min-width: 1000px){
	.m1{
		/*border: 1px solid blue;*/
		position: absolute;
		/*width: 25%;*/
		right: 5%;
		display: flex;
	}
	.m2{
		/*border: 1px solid green;*/
		position: absolute;
		left: 5%;
		/*top: 50%;*/
		display: flex;
	}
	.m1 li{
		margin-right: 50px;
	}
	.m2 li{
		margin-left: 50px;
	}
}

@media only screen and (min-width: 1100px){
	header{
		height: 15vh;
	}
	.m1{
		/*border: 1px solid blue;*/
		position: absolute;
		/*width: 25%;*/
		right: 5%;
		display: flex;
	}
	.m2{
		/*border: 1px solid green;*/
		position: absolute;
		left: 5%;
		/*top: 50%;*/
		display: flex;
	}
}
